---
id: about
title: About
---
<div class="well">
<div class="row">
  <div class="col-md-6 col-md-push-6">
    <img src="/assets/images/about/about.jpg" class="img-responsive">
  </div>
  <div class="col-md-6 col-md-pull-6">
    <p>Hey, i am jele77 a German artist and teacher for computer science and art.</p>
    <p>I stream creative stuff like drawing, painting, making emotes and also games.</p>
    <p>I do enjoy games, that have a creative vibe with them, so i am interested in the graphics of a game, but also the game mechanics and puzzle solving.</p>
    <p>Games, that i play are Hearthstone, Stardew Valley, Terraria and Point and Click Adventure.</p>
  </div>
</div>
</div>
