---
id: cardgames
title: Cardgames
banner: /assets/images/cardgames/banner.png
---
<h1>The Elder Scrolls: Legends</h1>
<p class="well">Since the 12th September 2017 i am playing TES-Legends and i really enjoy the game. My plans are to reach Legend every month and play regularly in tournaments. I am a totally Free2Play-Player and still grinding on my card.</p>
<h2>Best results</h2>
<dl class="dl-horizontal">
  <dt>September 2017</dt>
  <dd>Rank 4</dd>
  <dd>Solo Arena - Rank 1</dd>
  <dt>October 2017</dt>
  <dd>Legend</dd>
  <dd>versus Arena - Rank 1</dd>
</dl>
<h1>Hearthstone</h1>
<h2>Best results</h2>
<h3>Ladder</h3>
<h4>Standard</h4>
<dl class="dl-horizontal">
  <dt>May 2016</dt>
  <dd>Legend</dd>
  <dt>December 2016</dt>
  <dd>Legend</dd>
  <dt>January 2017</dt>
  <dd>Legend</dd>
</dl>
<h4>Wild</h4>
<dl class="dl-horizontal">
  <dt>July 2017</dt>
  <dd><a href="https://eu.battle.net/hearthstone/en/blog/20961028">Legend Rank <span class="badge">81</span></a></dd>
</dl>
<a href="https://eu.battle.net/hearthstone/en/blog/20961028">
  <img src="/assets/images/cardgames/hearthstone/rankedWildJuly2017.png" class="img-responsive">
</a>
