---
id: commissions
title: Commissions
---
<img src="/assets/images/commissions/commissions.png" class="img-responsive">
<img src="/assets/images/commissions/process.png" class="img-responsive">
<p class="well text-center">Other commissions, like <a href="http://www.leissmann.com" target="blank"><i class="fa fa-external-link" aria-hidden="true"></i>artwork</a> for your home or as a present are possible. Just contact me</p>
{{#contact}}
  {{> contact}}
{{/contact}}

