---
id: commissions
title: Commissions
---
<img src="/assets/images/commissions/commissions.png" class="img-responsive">
<img src="/assets/images/commissions/process.png" class="img-responsive">
<p class="well text-center">Other commissions, like artwork for your home or as a present are possible. Just contact me</p>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <address class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Contact</h3>
      </div>
      <div class="panel-body row">
        <div class="col-xs-3 text-right">
          <p>Email</p>
        </div>
        <div class="col-xs-1">
          <i class="fa fa-envelope-o"></i>
        </span></div>
        <div class="col-xs-8">
          <p><a href="mailto:malerei@leissmann.com?subject=commission">malerei@leissmann.com</a></p>
        </div>
        <div class="col-xs-3 text-right">
          <p>Artwork</p>
        </div>
        <div class="col-xs-1">
          <i class="fa fa-external-link"></i>
        </div>
        <div class="col-xs-8">
          <p><a href="http://www.leissmann.com">www.leissmann.com</a></p>
        </div>
        <div class="col-xs-3 text-right">
          <p>Twitch</p>
        </div>
        <div class="col-xs-1">
          <i class="fa fa-twitch"></i>
        </div>
        <div class="col-xs-8">
          <p><a href="https://www.twitch.tv/jele77">www.twitch.tv/jele77</a></p>
        </div>
        <div class="col-xs-3 text-right">
          <p>Twitter</p>
        </div>
        <div class="col-xs-1">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="col-xs-8">
          <p><a href="https://twitter.com/jele77hs">twitter.com/jele77</a></p>
        </div>
      </div>
    </address>
  </div>
</div>

