---
title: Hearthstone
banner: /assets/images/hearthstone/banner.png
---
<div class="well">
<p>I am a casual Hearthstone player, that plays both ladder and arena.</p>
<p>I take Hearthstone seriously but i am not playing it constantly and i still try to have fun. Saturdays are Hearthstone streams and then it depends how serious i try to climb in a season.</p>
</div>
<h2>Best results</h2>
<h3>Arena</h3>
<p><span class="badge">29</span> 12-win runs with 7 different classes</p>
<h3>Ladder</h3>
<h4>Standard</h4>
<dl class="dl-horizontal">
  <dt>May 2016</dt>
  <dd>Legend</dd>
  <dt>December 2016</dt>
  <dd>Legend</dd>
  <dt>January 2017</dt>
  <dd>Legend</dd>
</dl>
<h4>Wild</h4>
<dl class="dl-horizontal">
  <dt>July 2017</dt>
  <dd><a href="https://eu.battle.net/hearthstone/en/blog/20961028">Legend Rank <span class="badge">81</span></a></dd>
</dl>
<a href="https://eu.battle.net/hearthstone/en/blog/20961028">
  <img src="/assets/images/hearthstone/rankedWildJuly2017.png" class="img-responsive">
</a>
