---
id: twitch
title: Twitch
---
<div class="row">
  <div class="col-sm-4 col-sm-push-8">
    <img class="img-responsive" src="/assets/images/twitch/schedule.png">
  </div>
  <div class="col-sm-8 col-sm-pull-4">
    <div class="well">
      <p>I am streaming on twitch since May 2016 and slowly improved my equipment and the overall quality. Streaming has been a real pleasure to me, i am greatful for all the support i have gotten so far and happy to have met such awesome people.</p>
      <p>So far i am working with a schedule, that is somewhat consistent, but still has enough open space to deal with change of interest and urgencies.</p>
      <p>On Saturdays i play Hearthstone (usually Arena and Constructed) and do art.</p>
      <p>Sundays are Stardew Sundays. The time can switch to morning though and if i stream for a long time i might switch to art or other games</p>
      <p>On Wednesdays i will surely play other games like Terraria or point and click adventure at the scheduled time.</p>
      <p>I might start the stream earlier and just do, what feels right for me at that day or do lots of art, when i have a lot of commissions or just for fun. I do often stream more than 40 hours a week, so expect a lot of surprise streams too.</p>
      <div class="clearfix">
        <a href="https://www.twitch.tv/jele77" target="_blank" class="btn btn-primary pull-right"><h2>Go to twitch <i class="fa fa-twitch" aria-hidden="true"></i></h2></a>
      </div>
    </div>
    <div class="twitchEmbedVideo">
      <iframe src="https://www.twitch.tv/jele77/embed"></iframe>
    </div>
  </div>
</div>
