<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/assets/css/main.min.css">

    <script src="/assets/js/main.min.js"></script>

    <script>
      jQuery(function() {
        imageMapResize();
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>{{jumbotitle}}</h1>
      </div>
      {{>body}}
    </div>
  </body>
</html>

