<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/assets/css/main.min.css">

    <script src="/assets/js/main.min.js"></script>
  </head>
  <body id="{{id}}">
    {{> navbar}}
    <div id="maincontent" class="container">
      {{#if banner}}
        <img src="{{banner}}" class="img-responsive">
      {{/if}}
      {{>body}}
    </div>
  </body>
</html>

